<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container card-sh" style="margin-top: 70px; margin-bottom: 110px">
        <div class="col-md-12 p-5">
            <div class="row">
                <div class="col-md-5 text-end">
                    <img style="border-radius:6px; margin-top: 15%; margin-right: 20%"  src="images/product_img/art3.jpg" alt=""
                         width="300" height="300">
                </div>
                <div class="col-md-6">
                    <p class="fs-3">Đồ Gốm</p>
                    <p><span class="fw-bold">Mô tả sản phẩm</span>
                        <br>Gốm Bát Tràng</p>
                    <p><span class="fw-bold">Thông tin sản phẩm</span>
                        <br>Trạng thái:
                        <span class="badge bg-success">Availble</span>
                        <span class="badge bg-warning">out of stock</span>
                        <br>Category : Gốm<br>Policy: 7 days Replacement & Return
                    </p>
                    <p class="fs-5 fw-bold">
                        Giá : &nbsp; &nbsp; &nbsp; <i class="fas fa-rupee-sign"></i>
                        7000
                        <span class="fs-6 text-decoration-line-through text-secondary">5000</span>
                        <span class="fs-6 text-success">50% off</span>
                    </p>
                    <div class="row">
                        <div class="col-md-4 text-success text-center p-2">
                            <i class="fas fa-money-bill-wave fa-2x"></i>
                            <p>Cassh On Devilu</p>
                        </div>
                        <div class="col-md-4 text-dander text-center p-2">
                            <i class="fas fa-undo-alt fa-2x"></i>
                            <p>Retrun Availber</p>
                        </div>
                        <div class="col-md-4 text-primary text-center p-2">
                            <i class="fas fa-truck-moving fa-2x"></i>
                            <p>Free Ship</p>
                        </div>
                    </div>
                    <a href="login.jsp=" class="btn btn-danger col-md-12">Thêm vào giỏ</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>